@font-face {
  font-family: Ormont_Light;
  src: local(Ormont_Light), url('www.tjshaw.co.uk/font/Ormont_Light.ttf') format('opentype');
}
 /*********** Index Page *******************/
HTML {
  background: url('images/bg.JPG');
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  width:100%;
  /*background-size: 100%;*/
  height: 100%;
  position: relative;
}

body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, .3);
}

.logo {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************** NAV ***********************/
nav {
  text-align: center;
  font-family: 'Ormont_Light';
}

a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 25px;
}

/************************** Footer ***************************/
footer {
  position: absolute;
  font-family: 'Ormont_Light';
  color: white;
  bottom: 0;
  width: 100%;

}

.socialMediaBtn {
  width: 30px;
  height: 30px;
}

li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

.copyRight {
  float: right;
  font-family: 'Ormont_Light';
  color: white;
}
 /********************** Fex Box *****************************/

h1 {
  font-family: 'Ormont_Light';
  color: white;
  font-size: 27px;
  background-color: rgba(255, 0, 0, .3);
  text-align: center;
  padding: 10px;
}

.grid2x2 {
  height: 580px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box1 {
  background-color: grey;
  margin-left: 40px;

}

.box2 {
  background-color: orange;
}

.box3 {
  background-color: purple;
  margin-left: 40px;
}

.box4 {
  background-image: url('images/dragRace.png');
  background-size: 100% 100%;
}
